<%- include("header") -%>


<h2>Hello World it the about page of our toDo List App </h2>


<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dolores minus facilis exercitationem inventore necessitatibus ipsa iste voluptatum ducimus neque! Blanditiis id quod fuga dicta at? Ad labore id quia! Placeat odit harum officia.


</p>


<%- include("footer") -%>