<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Daily Blog</title>
  </head>
  <body>
    <!-- header.ejs -->
    <%- include("./partials/header") %>
    <div class="page hidden">
      <h3><%= content %></h3>
    </div>
    <!-- footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
