<!DOCTYPE html>
<html lang="en">
<head>

   <%-  include("./partials/head")  %>
    <title>Sign up Blogger.com</title>
    <style>
        .container{
            text-align: center;
        }
    </style>
</head>
<body>
    
    <%-  include("./partials/header")  %>
    
    <div class="container">
        <form action="" method="post">
            <input type="text" placeholder="Enter Your Name" >
            <br>
            <input type="text" placeholder="Username">
            <br>
            <input type="text" placeholder="Enter Your email">
            <br>
            <input type="checkbox">I accept all terms & conditions
            <br>
        </form>
    </div>




   <!-- <%-  include("./partials/footer")  %> -->

</body>
</html>