<%- include("partials/header") %>

<h1>Server About Page</h1>
<p> <%= about %>  </p>

<p>
    Published by : <em>Aj foundation ltd.</em> <br>
    <em> Ajeet Singh</em> <br>
</p>

<%- include("partials/footer") %>