<%- include("partials/header") %>

<h1>Server Contact Page</h1>
<p> <%= contact %>  </p>

<p>
    <p>I am trying to use Embedded Javascript renderer for node: https://github.com/visionmedia/ejs
    
        I would like to know how I can include another view file (partial) inside a .ejs view file.</p>
    
    Published by : <em>Aj foundation ltd.</em> <br>
    <em> Ajeet Singh</em> <br>
    <a email="">email: jeetak9162@gmail.com</a><br>
    Thanks . . .
</p>


<%- include("partials/footer") %>