<footer class="footer">
  <section class="footer-content">
    <!-- <div class="footer-content"> -->

    <ul>
      <li><h3>Help</h3></li>
      <li><a href="">Help Center</a></li>
      <li><a href="">Help Forum</a></li>
      <li><a href="">Video Tutorials</a></li>
    </ul>
    <ul>
      <li><h3>Community</h3></li>
      <li><a href="">Blogger Buzz</a></li>
    </ul>
    <ul>
      <li><h3>Developers</h3></li>
      <li><a href="">Blogger Api</a></li>
      <li><a href="">Developer Forum</a></li>
    </ul>
  </section>
  <hr />
  <section class="meta">
    <ul>
      <li>
        <a
          href="/go/terms"
          target="_blank"
          class="ga-footer"
          data-track="Terms of Service"
          >Terms of Service</a
        >
      </li>
      <li>
        <a
          href="/go/privacy"
          target="_blank"
          class="ga-footer"
          data-track="Privacy"
          >Privacy</a
        >
      </li>
      <li>
        <a
          href="/go/contentpolicy"
          target="_blank"
          class="ga-footer"
          data-track="Content Policy"
          >Content Policy</a
        >
      </li>
    </ul>
    <div>
      <select
        name=""
        class="language js-language-switch ga-language-switch language-switch"
        id="language-switch"
      >
        <option value="?hl=af">Afrikaans‎</option>
        <option value="?hl=am">Amharic - አማርኛ‎</option>
        <option value="?hl=ar">Arabic - العربية‎</option>
        <option value="?hl=eu">Basque - euskara‎</option>
        <option value="?hl=bn">Bengali - বাংলা‎</option>
        <option value="?hl=bg">Bulgarian - български‎</option>
        <option value="?hl=ca">Catalan - ‪Català‬‎</option>
        <option value="?hl=zh-HK">Chinese (Hong Kong) - 中文（香港)‎</option>
        <option value="?hl=zh-CN">Chinese (Simplified) - ‪简体中文‬‎</option>
        <option value="?hl=zh-TW">Chinese (Traditional) - 繁體中文‎</option>
        <option value="?hl=hr">Croatian - Hrvatski‎</option>
        <option value="?hl=cs">Czech - Čeština‎</option>
        <option value="?hl=da">Danish - Dansk‎</option>
        <option value="?hl=nl">Dutch - Nederlands‎</option>
        <option value="?hl=en" selected="" disabled="">English</option>
        <option value="?hl=en-GB">English (United Kingdom)‎</option>
        <option value="?hl=et">Estonian - eesti‎</option>
        <option value="?hl=fil">Filipino‎</option>
        <option value="?hl=fi">Finnish - Suomi‎</option>
        <option value="?hl=fr-CA">French (Canada) - Français (Canada)‎</option>
        <option value="?hl=fr">French (France) - Français (France)‎</option>
        <option value="?hl=gl">Galician - galego‎</option>
        <option value="?hl=de">German - Deutsch‎</option>
        <option value="?hl=el">Greek - Ελληνικά‎</option>
        <option value="?hl=gu">Gujarati - ગુજરાતી‎</option>
        <option value="?hl=iw">Hebrew - עברית‎</option>
        <option value="?hl=hi">Hindi - हिन्दी‎</option>
        <option value="?hl=hu">Hungarian - magyar‎</option>
        <option value="?hl=is">Icelandic - íslenska‎</option>
        <option value="?hl=id">Indonesian - Indonesia‎</option>
        <option value="?hl=it">Italian - Italiano‎</option>
        <option value="?hl=ja">Japanese - 日本語‎</option>
        <option value="?hl=kn">Kannada - ಕನ್ನಡ‎</option>
        <option value="?hl=ko">Korean - 한국어‎</option>
        <option value="?hl=lv">Latvian - latviešu‎</option>
        <option value="?hl=lt">Lithuanian - lietuvių‎</option>
        <option value="?hl=ms">Malay - Bahasa Melayu‎</option>
        <option value="?hl=ml">Malayalam - മലയാളം‎</option>
        <option value="?hl=mr">Marathi - मराठी‎</option>
        <option value="?hl=no">Norwegian - norsk‎</option>
        <option value="?hl=fa">Persian - فارسی‎</option>
        <option value="?hl=pl">Polish - polski‎</option>
        <option value="?hl=pt-BR">
          Portuguese (Brazil) - Português (Brasil)‎
        </option>
        <option value="?hl=pt-PT">
          Portuguese (Portugal) - português (Portugal)‎
        </option>
        <option value="?hl=ro">Romanian - română‎</option>
        <option value="?hl=ru">Russian - Русский‎</option>
        <option value="?hl=sr">Serbian - српски‎</option>
        <option value="?hl=sk">Slovak - Slovenčina‎</option>
        <option value="?hl=sl">Slovenian - slovenščina‎</option>
        <option value="?hl=es-419">
          Spanish (Latin America) - Español (Latinoamérica)‎
        </option>
        <option value="?hl=es">Spanish (Spain) - Español (España)‎</option>
        <option value="?hl=sw">Swahili - Kiswahili‎</option>
        <option value="?hl=sv">Swedish - Svenska‎</option>
        <option value="?hl=ta">Tamil - தமிழ்‎</option>
        <option value="?hl=te">Telugu - తెలుగు‎</option>
        <option value="?hl=th">Thai - ไทย‎</option>
        <option value="?hl=tr">Turkish - Türkçe‎</option>
        <option value="?hl=uk">Ukrainian - Українська‎</option>
        <option value="?hl=ur">Urdu - اردو‎</option>
        <option value="?hl=vi">Vietnamese - Tiếng Việt‎</option>
        <option value="?hl=zu">Zulu - isiZulu‎</option>
      </select>
    </div>
  </section>
  <!-- </div> -->
</footer>
<script src="public/js/script.js"></script>
